.dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #eee;
    top: 29px;
}
.dropdown dl {
    padding: 10px 10px 10px 15px ;
    border-bottom: 1px solid #eee;
    text-align: left;
    cursor: pointer;
}
.dropdown dl dd {
    display: inline-block;
    /* width: 126px; */
    white-space: nowrap;
    text-align: left;
}
